* {
  border: 1px solid blue;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404041;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #DD1972;
}

.subheader-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.white-subheader {
  color: #ffffff;
}

.white-line {
  background-color: #ffffff;
  height: 1px;
  width: 90px;
}

main {
  display: flex;
  flex-direction: row;
}

.left-column {
  width: 50%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.game-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 2px solid lightgrey;
  margin: 7px 15px;
}

.range-input {
  display: flex;
  justify-content: space-around;
}

h5 {
  margin: 10px 0;
  font-weight: 700;
}

.latest-and-blank {
  margin: 10px 0;
  font-weight: 700;
}

.card-two-buttons {
  display: block;
  display: flex;
  justify-content: space-around;
}

button {
  height: 20px;
  border-radius: 20px;
  margin
}

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#winner-card {
  border: 2px solid lightgrey;
  margin: 10px;
  width: 90%;

}

.winner-card-top {
  display: flex;
  justify-content: center;
}

.vs {
  padding: 0px 20px;
}

.grey-line {
  background-color: #D0D2D3;
  height: 1px;
  width: 85%;
  margin: 5px 0 5px 0;
}

.winner-card-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 5px;
}

.winner-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.winner-card-stats {
  padding: 10px;
}

/* add font to buttons maybe forms individualls */
/* h3 came with margin that i had to alter - do others? */
/* margin spacing on winner-card center? */
